/*Master-styles*/
html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}
/*nav-styles*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.left-side {
  display: flex;
}
.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.98em;
  text-transform: uppercase;
}
.nav-link {
  height: 10px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
.nav-link a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link :hover {
  border-bottom: 1px solid black;
}
.nav-link a:hover {
  color: black;
}
.topnav {
  background-color: #2196f3;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  width: 16.66%;
  color: #795548;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #00bcd4;
  color: black;
}
.topnav a.active {
  background-color: #4caf50;
  color: white;
}
.topnav .icon {
  display: none;
}
.header {
  display: block;
  background-color: teal;
  height: 100px;
}
.aim-block {
  display: block;
  background-color: teal;
}
.header h1 {
  text-align: center;
}
.header h2 {
  text-align: center;
}
.header h3 {
  text-align: center;
}

.aim-block h4 {
  padding: 10px;
  text-align: left;
  margin: 0px;
}

canvas {
  border: 1px solid black;
  background-color: chocolate;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
